/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  a {
    color: #173FFF;
    /* set the text color to blue here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
    display: block
  }

  a:hover {
    color: #48079D;
    /* set the text color to red here */
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
  }




  body {
    background-color: beige;
    background-image: url("../images/background.jpg");
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    }


  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3.5vw;
    margin-bottom: 2rem;
    margin-top: 3rem;
   }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    /* set the text color of to #075AAB here */
    /* set both the bottom margin and top margin to 2.5rem here */
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 2.25vw;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .title-gif {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("../images/programming.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding: 0;



    }

    .title-text {
      position: relative;
      color: red;
      max-height: 20vh;
      font-size: 2vw;
      top: 47vh;
      left: 57vw;
    }
      .title_name {
          font-size: 5vw;
      }



    .about_me {
      font-size: 2.5vw;
    }
    .portfolio {
      font-size: 2vw;
    }
    .project_title {
      font-weight: bold;
    }


    .wrapper{
      margin: auto;
      width: 90%;
}




  .portfolio .columns{
    max-width: 90%;
    grid-column-gap: 5vw;
  }
    .columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      color: black;


    }

    .about_me_image{
      margin-bottom: 10vh;
    }
    .about_me .columns{
      max-width: 90%;
    }



  .contact_info {
    text-align: left;
    font-size: 2.5vh;
    display:inline-block;

  }



  .container {
    width: 100%;
    height: 100vh;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;



  }

  form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;

  }

  form h2{
    font-size: 1.75rem;
    color: black;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 40px;
  }


  .form-control{
    font-family: arial;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    margin-bottom: 16px;
  }

  form .submit {
    background: green;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    align: center;

  }

  form .submit:hover{
    background-color: blue;
    cursor: pointer;

  }

  input{
      min-height: 45px;

    }



  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    padding: 0px;
    text-align: left;

  }



  /* navigation menu */
  nav {
    width:100%;
    height: auto;
    background-color: #fff;

  }

  nav ul {
    margin: 0 auto;
    padding: 0px;
    text-align: left;

  }

  nav ul li {
    display: inline-block;
    list-style: none;
    line-height: 5rem;

  }

  nav ul li a {
    display: block;
    font-size: 150%;
    font-family: arial;
    color: #1e1e1e;
    font-weight: 500;
    padding: 0 3vw;
  }
